<!-- Describe task in general -->
<!-- <img src="{{MEDIA_CONVERT}}title.png" class="title_img" /> -->
<p style="text-align: justify;">
    Binary search is an effective method that employs the divide and conquer strategy to quickly find an element in an ordered list, significantly reducing the search space by half at each step. This technique not only exemplifies algorithmic efficiency in solving search problems, but also highlights the importance of understanding fundamental computer science concepts, such as divide and conquer algorithms, which are crucial for optimizing and solving complex problems in a more intuitive way.
</p>

<p style="text-align: justify;">
    The goal of this exercise is to implement binary search in such a way that it returns the index of the searched element in the list (or -1 if it is not present) and the number of steps performed, providing a clear view of the divide and conquer process in action. In the image below, you can find an illustration of the algorithm at work.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}bin-search.svg" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Two arguments. <span translate="repeat">{% if is_js %}Array{% else %}List{% endif %}</span> of integers <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span> and an integer.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}Array{% else %}List{% endif %} of two {% if is_js %}numbers{% else %}integers{% endif %}.
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
